
.DS_Store
SFTPDeploymentTool/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
SFTPDeploymentTool/obj/Debug/net5.0/git.AssemblyInfo.cs
SFTPDeploymentTool/obj/Debug/net5.0/git.AssemblyInfoInputs.cache
SFTPDeploymentTool/obj/Debug/net5.0/git.assets.cache
SFTPDeploymentTool/obj/Debug/net5.0/git.csproj.AssemblyReference.cache
SFTPDeploymentTool/obj/Debug/net5.0/git.csproj.CoreCompileInputs.cache
SFTPDeploymentTool/obj/Debug/net5.0/git.csproj.FileListAbsolute.txt
SFTPDeploymentTool/obj/Debug/net5.0/git.dll
SFTPDeploymentTool/obj/Debug/net5.0/git.GeneratedMSBuildEditorConfig.editorconfig
SFTPDeploymentTool/obj/Debug/net5.0/git.genruntimeconfig.cache
SFTPDeploymentTool/obj/Debug/net5.0/git.pdb
SFTPDeploymentTool/obj/git.csproj.nuget.dgspec.json
SFTPDeploymentTool/obj/git.csproj.nuget.g.props
SFTPDeploymentTool/obj/git.csproj.nuget.g.targets
SFTPDeploymentTool/obj/project.assets.json
SFTPDeploymentTool/obj/project.nuget.cache
SFTPDeploymentTool/id_rsa.ppk
SFTPDeploymentTool/appsettings.json
SFTPDeploymentTool/bin/Debug/net5.0/appsettings.json
SFTPDeploymentTool/bin/Debug/net5.0/git.deps.json
SFTPDeploymentTool/bin/Debug/net5.0/git.dll
SFTPDeploymentTool/bin/Debug/net5.0/git.pdb
SFTPDeploymentTool/bin/Debug/net5.0/git.runtimeconfig.dev.json
SFTPDeploymentTool/bin/Debug/net5.0/git.runtimeconfig.json
SFTPDeploymentTool/bin/Debug/net5.0/Microsoft.Extensions.Configuration.Abstractions.dll
SFTPDeploymentTool/bin/Debug/net5.0/Microsoft.Extensions.Configuration.Binder.dll
SFTPDeploymentTool/bin/Debug/net5.0/Microsoft.Extensions.Configuration.dll
SFTPDeploymentTool/bin/Debug/net5.0/Microsoft.Extensions.Configuration.FileExtensions.dll
SFTPDeploymentTool/bin/Debug/net5.0/Microsoft.Extensions.Configuration.Json.dll
SFTPDeploymentTool/bin/Debug/net5.0/Microsoft.Extensions.FileProviders.Abstractions.dll
SFTPDeploymentTool/bin/Debug/net5.0/Microsoft.Extensions.FileProviders.Physical.dll
SFTPDeploymentTool/bin/Debug/net5.0/Microsoft.Extensions.FileSystemGlobbing.dll
SFTPDeploymentTool/bin/Debug/net5.0/Microsoft.Extensions.Primitives.dll
SFTPDeploymentTool/bin/Debug/net5.0/Newtonsoft.Json.dll
SFTPDeploymentTool/bin/Debug/net5.0/Renci.SshNet.dll
SFTPDeploymentTool/bin/Debug/net5.0/SshNet.Security.Cryptography.dll
SFTPDeploymentTool/bin/Debug/net5.0/System.Runtime.CompilerServices.Unsafe.dll
SFTPDeploymentTool/bin/Debug/net5.0/System.Text.Encodings.Web.dll
SFTPDeploymentTool/bin/Debug/net5.0/System.Text.Json.dll
